
.contentContainer .description dl dt {
    margin:      10px 0px 0px 10px;
    color:       #4E4E4E;
    font-size:   12px;
    font-weight: bold;
}
.contentContainer .description dl dd {
    margin:      0px 0px 10px 30px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
